<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Page</title>
    <link rel="stylesheet" href="<?= BASEURL ?>/css/bootstrap.css">
    <link rel="stylesheet" href="<?= BASEURL ?>/css/admin.css">
    <link rel="stylesheet" href="<?= BASEURL ?>/fontawesome/css/all.css">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-md navbar-light bg-color fixed-top">
            <a href="#" class="navbar-brand text-white">
                <span class="h3 font-weight-bold">C I N T A</span>
                <span class="small-brand">( Catatan Kinerja Harian Aparatur Sipil Negara )</span>
            </a>
            <a href="<?= BASEURL ?>/auth/logout" class="btn btn-light logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <aside class="sidebar navbar-collapse">
            <div class="menu">
                <ul class="menu-content">
                    <li class="list-content">
                        <a href=""><i class="fas fa-home"></i> <span>Home</span></a>
                    </li>
                    <li class="list-content">
                        <a href="#"><i class="fas fa-cog"></i> <span>Setup</span> <i class="fas fa-sort-down float-right"></i></a>
                        <ul>
                            <li>
                                <a href=""><i class="fas fa-building"></i> <span>Instansi</span></a>
                            </li>
                            <li>
                                <a href=""><i class="fas fa-sitemap"></i> <span>Struktur</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-content">
                        <a href=""><i class="fas fa-address-book"></i> <span>Data Pegawai</span></a>
                    </li>
                    <li class="list-content logout">
                        <a href="<?= BASEURL ?>/auth/logout"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="content">
            <div class="inner">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis esse provident repellat doloremque eius, totam quia. Veritatis impedit ratione fuga mollitia quas cum distinctio et aliquam? Repellendus et fugit nobis!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta qui, aliquid exercitationem nostrum minima amet magnam expedita. Saepe vero quaerat animi incidunt eum nostrum non dolorem dolores veniam dolore?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi ducimus laboriosam voluptates optio dicta laudantium voluptate dolorem accusantium ipsa cumque est, iste aliquid pariatur ex omnis dolorum beatae nam.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quibusdam nobis reiciendis doloremque? Molestias quasi, natus quae, unde, minima nulla tempora modi fuga quas veritatis itaque vero. Quod, odio amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita consectetur nihil nesciunt iste, sed reiciendis, ipsa magnam a blanditiis reprehenderit fugit, temporibus odio quibusdam quis laboriosam aliquid doloremque molestiae?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit magnam saepe necessitatibus id! Non, aut molestiae, architecto maiores itaque debitis sequi distinctio veritatis iusto alias officiis, facere porro impedit aliquam.
                </p>
                <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis esse provident repellat doloremque eius, totam quia. Veritatis impedit ratione fuga mollitia quas cum distinctio et aliquam? Repellendus et fugit nobis!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dicta qui, aliquid exercitationem nostrum minima amet magnam expedita. Saepe vero quaerat animi incidunt eum nostrum non dolorem dolores veniam dolore?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque modi ducimus laboriosam voluptates optio dicta laudantium voluptate dolorem accusantium ipsa cumque est, iste aliquid pariatur ex omnis dolorum beatae nam.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quibusdam nobis reiciendis doloremque? Molestias quasi, natus quae, unde, minima nulla tempora modi fuga quas veritatis itaque vero. Quod, odio amet.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat expedita consectetur nihil nesciunt iste, sed reiciendis, ipsa magnam a blanditiis reprehenderit fugit, temporibus odio quibusdam quis laboriosam aliquid doloremque molestiae?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit magnam saepe necessitatibus id! Non, aut molestiae, architecto maiores itaque debitis sequi distinctio veritatis iusto alias officiis, facere porro impedit aliquam.
                    </p>
    
            </div>
        </section>
    </div>
    <script src="<?= BASEURL ?>/js/jquery-3.3.1.js"></script>
    <script src="<?= BASEURL ?>/js/bootstrap.js"></script>
    <script src="<?= BASEURL ?>/js/admin.js"></script>
</body>
</html>